---
import Layout from '../layouts/Layout.astro';
import OrderSummaryCard from '../components/OrderSummaryCard.astro';
---

<Layout title="Order Summary">
	<main class="min-h-screen flex items-center justify-center bg-pattern-mobile md:bg-pattern-desktop bg-contain bg-no-repeat">
		<OrderSummaryCard />
	</main>
</Layout>


