---
import Layout from '../layouts/Layout.astro';
import OrderSummaryCard from '../components/OrderSummaryCard.astro';
---

<Layout title="Order Summary">
	<main class="min-h-screen flex items-center justify-center">
		<OrderSummaryCard />
	</main>
</Layout>


